@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap');

$bg: white;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	background: $bg;
}


.centered {
	width: 100%;
	max-width: 440px;
	position: absolute;
	margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rating__star, .display__star {
   cursor: pointer;
   color: #dabd18b2;
}
